<div class="p-grid">
    <div class="p-col p-col-sm-6">
        <p-fieldset legend="i18nSelect Pipe">
            <p>
                Saludos {{ nombre | titlecase}}, es un placer
                {{ genero | i18nSelect: invitacionMap }}
                a nuestro evento.
            </p>
            <button (click)="cambiarNombre()" pButton pRipple type="button" label="Cambiar nombre"
                class="p-button-rounded p-button-help"></button>
        </p-fieldset>
    </div>
    <div class="p-col p-col-sm-6">
        <p-fieldset legend="i18Plural Pipe" [toggleable]="true">
            <p>
            Actualmente {{ clientes.length | i18nPlural: clientesMap }}
            </p>
            <button (click)="cambiarClientes()" pButton pRipple type="button" label="Cambiar clientes"
                class="p-button-rounded p-button-success"></button>
        </p-fieldset>
    </div>
</div>