<div class="p-grid p-mt-2">
    <div class="p-col-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>
                Saludos {{ nombre | titlecase}}, es un placer
                {{ genero | i18nSelect: invitacionMap }}
                a nuestro evento.
            </p>
            <button (click)="cambiarNombre()" pButton pRipple type="button" label="Cambiar nombre"
                class="p-button-rounded p-button-help"></button>
        </p-fieldset>
    </div>
    <div class="p-col-6">
        <p-fieldset legend="i18Plural Pipe" [toggleable]="true">
            <p>
            Actualmente {{ clientes.length | i18nPlural: clientesMap }}
            </p>
            <button (click)="cambiarClientes()" pButton pRipple type="button" label="Cambiar clientes"
                class="p-button-rounded p-button-success"></button>
        </p-fieldset>
    </div>
    <div class="p-col-6">
        <p-fieldset legend="Slice Pipe" [toggleable]="true">
            <b>Original</b>
            <pre>{{ clientes }}</pre>

            <b>slicec 0:2</b>
            <pre>{{ clientes | slice:0:2 }}</pre>

            <b>slicec 2:6</b>
            <pre>{{ nombre | slice:2:6 }}</pre>
        </p-fieldset>
    </div>

    <div class="p-col-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <pre>{{ heroes | json }}</pre>
        </p-fieldset>
    </div>

    <div class="p-col-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of persona | keyvalue">
                    <b>{{ item.key | titlecase }}</b> : {{ item.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>

    <div class="p-col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
            <!-- <pre>{{ miObservable | async }}</pre> -->
            <pre *ngIf="!(miPromesa | async)" >Resolviendo la promesa</pre>
            <pre>{{ miPromesa | async }}</pre>
        </p-fieldset>
    </div>

</div>